.game {
  position: relative;
}

.trade {
  text-align: center;
  margin: 3px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(231, 228, 228);
}

.inventories {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.inventory {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trade ul {
  list-style-type: none;
}